@use '@johnsiddoway/sass' as *;

:root {
    --secondary: #{$gray-60};
    --border-width: 1px;
    --border-style: solid;
    --border-color: currentColor;
    --surface-box-shadow: #{$surface-box-shadow};
    --box-shadow-primary: #{$input-box-shadow};
    --box-shadow-secondary: #{$surface-box-shadow};
}

@include abbr;
@include buttons;
@include cards;
@include details;
@include dl;
@include inputs;
@include form;
@include label;
@include popover-auto;
@include popover-manual;
@include select;
@include table;
@include textarea;
@include toggle;
@include tooltip;

button {
    --btn-background-color: transparent;
    --btn-color: inherit;
    --btn-border-color: currentColor;
    box-shadow: 0.25rem 0.25rem 0.25rem 0rem currentColor;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    margin-bottom: 0.5rem;

    > * {
        width: 5rem;
    }
}
