@use "@johnsiddoway/sass";

@include sass.configure(
	$reset-styles: false,
	$support-dark-mode: true,
	$buttons-make-theme-variants: true,
	$buttons-make-theme-variants-inverted: true,
	$buttons-use-base: true,
	$theme-colors: (
		'primary': sass.$orange,
		'info': sass.$blue,
		'success': sass.$success,
		'danger': sass.$danger,
		'orange': sass.$orange,
		'yellow': sass.$yellow,
		'green': sass.$green,
		'teal': sass.$teal,
		'cyan': sass.$cyan,
		'blue': sass.$blue,
		'indigo': sass.$indigo,
		'purple': sass.$purple,
		'pink': sass.$pink,
		'red': sass.$red,
	),
);

@include sass.styles;

.button-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 1rem;
	margin-bottom: 0.5rem;

	> * {
		width: 5rem;
	}
}