@use "@johnsiddoway/sass";

@include sass.configure(
	$theme-colors: (
		'primary': sass.$orange,
		'info': sass.$blue,
		'success': sass.$success,
		'danger': sass.$danger,
		'orange': sass.$orange,
		'yellow': sass.$yellow,
		'green': sass.$green,
		'teal': sass.$teal,
		'cyan': sass.$cyan,
		'blue': sass.$blue,
		'indigo': sass.$indigo,
		'purple': sass.$purple,
		'pink': sass.$pink,
		'red': sass.$red,
	),
);

@include sass.abbreviations;
@include sass.buttons;
@include sass.cards;
@include sass.details;
@include sass.dialogs;
@include sass.dialogs($selector: '[popover]');
@include sass.forms;
@include sass.tables;
@include sass.toggles;
@include sass.tooltips;

.button-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 1rem;
	margin-bottom: 0.5rem;

	> * {
		width: 5rem;
	}
}