@use "@johnsiddoway/sass";

%flex-between {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem; // minimum space between columns
}

%post-header {
    @extend %flex-between;
    margin-block: 0 sass.$layout-margin-block-end;
    border-block-end: 1px solid currentColor;

    time {
        min-width: fit-content;
    }
}
