@use "sass:map";
@use "@johnsiddoway/sass";

%container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @each $breakpoint, $max-width in sass.$container-max-widths {
        @if not map.has-key($map: sass.$container-grid-breakpoints, $key: #{$breakpoint}) {
            @debug "container-breakpoints does not have an entry for #{$breakpoint}, skipping";
        } @else {
            @media (min-width: map.get(sass.$container-grid-breakpoints, #{$breakpoint})) {
                max-width: $max-width;
            }
        }
    }
}

%flex-between {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem; // minimum space between columns
}

%post-header {
    @extend %flex-between;
    margin-block: 0 sass.$layout-margin-block-end;
    border-block-end: 1px solid currentColor;

    time {
        min-width: fit-content;
    }
}
