@use "sass:color";
@import "./mixins";

$white: #fff;
$gray-400: #ced4da;
$gray-700: #495057;
$gray-900: #212529;
$black: #000;

$orange: #F16B0E; // #FF9D57
$red: #F91828;
$green: #1cc40b;

$primary: $orange;
$secondary: $green;
$danger: $red;
$success: $green;
$light: $gray-400;
$dark: $gray-900;

$theme-colors: (
	"primary": $primary,
	"success": $success,
	"danger": $danger) !default;

$background-color: $gray-400;
$foreground-color: $gray-900;

// start fonts & typography
$font-family-sans-serif: 'Open Sans', 'Source Sans Pro', "PingFang SC", "Microsoft YaHei", sans-serif;
$font-family-monospace: 'Fira Code', consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
$headings-font-family: 'Exo 2', 'Open Sans', 'Source Sans Pro', "PingFang SC", "Microsoft YaHei", sans-serif;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-base: 400;
$line-height-base: 1.5;
// end fonts & typography

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px) !default;
// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px) !default;
// scss-docs-end container-max-widths

$input-range-thumb-width: 1rem;
$input-range-thumb-height: $input-range-thumb-width;
$input-range-thumb-bg: $primary;
$input-range-thumb-border-color: shade-color($primary, 25%);
$input-range-thumb-border-radius: 50%;
$input-range-thumb-cursor: pointer;
$input-range-thumb-disabled-bg: tint-color($primary, 10%);
$input-range-thumb-focus-box-shadow: 0 0 0.05rem 0.05rem $white, 0 0 0.25rem 0.25rem $primary;

$input-range-track-height: 0.25rem;
$input-range-track-width: 100%;
$input-range-track-bg: $background-color;
$input-range-track-border-radius: 0;
$input-range-track-cursor: none;

$input-text-border-color: $primary;
$input-text-focus-box-shadow: 0 0 0.5rem 0 tint-color($primary, 25%);

$btn-border-shade-amount: 30% !default;
$btn-hover-bg-shade-amount: 15% !default;
$btn-hover-border-shade-amount: 20% !default;
$btn-active-bg-shade-amount: 20% !default;
$btn-active-border-shade-amount: 25% !default;