@import "./normalize.css";

// 1: Import helper files
@import "functions";
@import "variables";
@import "mixins";

// 2: Import our version of normalize.css / reboot.css
@import "reset";

// 3: Import our common layout styles applied directly to elements
@import "layout";

// 4: Import our custom classes. I'd like to get these all moved over to mixins
@import "containers";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	.js-brand {
		background: linear-gradient(#B38728, #BF953F, #FCF6BA, #BF953F, #B38728);
		background-clip: text;
		color: transparent;
		font-weight: 600;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	nav {
		@include make-flex($justify-content: start);
	}
}

img {
	width: 100%;
	height: auto;
}

.date-with-icon {
	@include make-flex($column-gap: 0.5rem, $align-items: baseline);

	svg {
		height: 0.8rem;
	}
}

.post-list {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

.post-list-item {
	@include make-panel();
	@include make-flex($justify-content: space-between, $align-items: baseline);
	padding: 1rem;
	color: $primary;
	text-decoration: none;

	h1, h2 {
		margin: 0;
	}

	.date-with-icon {
		color: $dark;
	}
}

.post {
	.post-header {
		@include make-flex($justify-content: space-between, $align-items: baseline);
		@include solid-border($property: border-bottom);
		padding-bottom: 1rem;

		h1 {
			margin: 0;
		}
	}

	@media (min-width: map-get($grid-breakpoints, sm)) {
		@include make-panel();
		padding: 1rem;
	}
}

// hack to simplify look on small screens
@media (max-width: map-get($grid-breakpoints, sm)) {
	body:has(.post) {
		background-color: $white;
	}
}