$layout-main-breakpoints: 'lg','xl','2xl';

@use '@johnsiddoway/sass';

// TODO: Figure out how to fold this into sass lib?
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/OpenSans.ttf') format('truetype');
}

@include sass.reset;
@include sass.default-layout;
@include sass.default-theme;

header .brand {
	background: linear-gradient(#ff8000, #ffb366, #ffe6cc, #ffb366, #ff8000);
	background-clip: text;
	color: transparent;
}

%post-header {
	@include sass.make-flex($align-items: baseline, $justify-content: space-between, $column-gap: 1rem);
	margin-bottom: 1.5rem;
	border-bottom: 1px solid currentColor;

	a {
		text-decoration: none;
	}

	h1 {
		font-size: 2rem;
		margin: 0;
	}

	time {
		min-width: fit-content;
	}
}

a {
	color: sass.$blue;
}

article {
	header {
		@extend %post-header;
	}
}

.post-list {
	width: 100%;
	max-width: 45rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	list-style-type: none;

	li {
		@extend %post-header;
	}
}

code {
	word-wrap: break-word;
}