@import "@johnsiddoway/sass";

@mixin all-buttons($color-map: $theme-colors) {
	@each $name, $color in $color-map {
		.btn-#{$name} {
			@include button-variant($theme-color: $color);
		}

		.btn-#{$name}-inverted {
			@include button-variant-inverted($color);
		}
	}
}

$all-button-colors: (
	'primary': $orange,
	'info': $blue,
	'success': $success,
	'danger': $danger,
	'orange': $orange,
	'yellow': $yellow,
	'green': $green,
	'teal': $teal,
	'cyan': $cyan,
	'blue': $blue,
	'indigo': $indigo,
	'purple': $purple,
	'pink': $pink,
	'red': $red,
);

@include all-buttons($all-button-colors);

.flex-with-gap {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 1rem;
}

form {
	label {
		display: flex;
		flex-direction: column;
	}

	input,
	select {
		width: 100%;
		border: 1px solid $dark;
		padding: 0.375rem 0.75rem;
	}
}