@use "@johnsiddoway/sass" as js;

@include js.configure(
	$reset-styles: false,
	$abbr-selector: 'abbr',
	$buttons-make-theme-variants: true,
	$buttons-make-theme-variants-inverted: true,
	$buttons-use-base: true,
	$cards-selector: '.card',
	$details-selector: 'details',
	$dialog-selector: 'dialog',
	$table-selector: 'table',
	$table-wrapper-selector: '.table-wrapper',
	$theme-colors: (
		'primary': js.$orange,
		'info': js.$blue,
		'success': js.$success,
		'danger': js.$danger,
		'orange': js.$orange,
		'yellow': js.$yellow,
		'green': js.$green,
		'teal': js.$teal,
		'cyan': js.$cyan,
		'blue': js.$blue,
		'indigo': js.$indigo,
		'purple': js.$purple,
		'pink': js.$pink,
		'red': js.$red,
	),
	$toggle-selector: '.toggle',
	$tooltip-selector: 'data-title',
);

@include js.styles;

.button-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 1rem;
	margin-bottom: 0.5rem;

	> * {
		width: 5rem;
	}
}