@use "@johnsiddoway/sass" as *;

.rating,
.rating-ltr,
.rating-single {
    color: $gray-300;
}

.rating,
.rating-single {
	display: inline-block;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.rating input,
.rating-ltr input,
.rating-single input {
    display: none;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label,
.rating-ltr label:hover,
.rating-ltr label:hover ~ label,
.rating-ltr input:checked + label,
.rating-ltr input:checked + label ~ label,
.rating-single input:checked + label {
    color: $primary; /* Personal color choice. */
}