@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';

body {
    background-color: $gray-100;
}

// This is created by nextjs, and seems to mess with my ability to apply styles to <html> and <body>
#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    border-top: 3px $primary solid;
    font-family: $headings-font-family;
}
